extends base.pug
include mixins/video

block content
    div 
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accpet="video/*", required, id="video", name="video")
        input(name="title", placeholder="Title", required, type="text", maxLength=80)
        input(name="description", placeholder="Description", required, type="text", minLength=20)
        input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text")
        input(value="Upload Video", type="submit")

block scripts 
    script(src="/static/js/recorder.js")  